/*Global*/
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

/* tIPOGRAFIA*/

@font-face {
    font-family: 'ThirstyRoughRegTwo';
    src: url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.eot');
    src: url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.woff2') format('woff2'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.woff') format('woff'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.ttf') format('truetype'),
         url('../fonts/yellow_design_studio_-_thirstyroughregtwo-webfont.svg#thirsty_roughregular_two') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'veneer_tworegular';
    src: url('../fonts/yellow_design_studio_-_veneertwo-webfont.eot');
    src: url('../fonts/yellow_design_studio_-_veneertwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yellow_design_studio_-_veneertwo-webfont.woff2') format('woff2'),
         url('../fonts/yellow_design_studio_-_veneertwo-webfont.woff') format('woff'),
         url('../fonts/yellow_design_studio_-_veneertwo-webfont.ttf') format('truetype'),
         url('../fonts/yellow_design_studio_-_veneertwo-webfont.svg#veneer_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

/*Utilities*/

.margin-right-none {
    margin-right: 0px !important;
}

.margin-none{
    margin: 0px;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.hidden-responsive{
    visibility: hidden;
    display: none;
}
.bg{
    margin-top: 50px;
}
/*landing*/

body {
	background-repeat: no-repeat;
    background: url(../img/mc-bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* Social Media*/

.menu nav a {
	text-decoration: none;
	padding: 0 5px;

}

.SocialMedia i {
	background-color: white;
    color: black;
    width: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px;
}

.menu h4 {
	color: #C1A98C;
    padding-right: 36px;
    padding-top: 10px;
    font-family: 'ThirstyRoughRegTwo';
}
/* Text Right */

.color-white {
    color: white;
    font: 400 45px / 56px ThirstyRoughRegTwo;
    font-family:'veneer_tworegular';
    line-height: 1;
}
.color-cream{
    color: #c1a98c;
    font: 400 45px / 43px ThirstyRoughRegTwo;
    font-family: 'ThirstyRoughRegTwo';

}
.subscribe-email{
    height: 45px;
    margin-top: 25px;
    width: 65.7%;
    background-color: white;
}
.text-number-white{
    color: #ffffff;
    font: 400 60.2px / 36px VeneerTwo;
    margin-top: 5px;
    margin-left: -50px;
    font-family:'veneer_tworegular';
    margin-right: -20px;

}
.text-right-white-small{
    color: #ffffff;
    font: 400 20.2px / 36px VeneerTwo;
    font-family: 'ThirstyRoughRegTwo';
    margin-left: -35px;
    text-decoration: underline;
    margin-top: 0px;
}

/* text center*/

.market-crates-banner{
    background: url(../img/market-crates-banner01.png);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.signboard-center{
    background: url(../img/signboard-center01.png);
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30%;
}
.top{
    text-align: center;
    margin-top: 50px;
}


/*suscibete */

.email{
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-family: 'ThirstyRoughRegTwo';
}
.button{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0 0 0 -36px;
    width: 30px;
    line-height: 33px;
    cursor: pointer;
}
.fa-arrow-right{
    font-size: 10px;
    background-color: black;
    border-radius: 50%;
    padding: 6px;
    color: white;
}

#mc_embed_signup{
    margin-top: 20px;
}
input{
    width: 65%;
}
input.email {
    color: #c1a98c;
    -webkit-text-fill-color:#c1a98c;
}

/*text left */

small.text-top{
    color: white;
    margin-top: -10px;
    font-size: 35px;
    font-family: 'ThirstyRoughRegTwo';
    margin-left: -10px;
    font-weight: 100;
    text-align: left;
}
.text-top-left {
    margin-left: -71px;
    text-align: left;
}

.text-cream-small {
    font: 400 20.2px / 36px VeneerTwo;
    font-family: 'ThirstyRoughRegTwo';
    margin-top: 10px;
    color: #c1a98c;
}

/* reponsive*/

 @media screen and (max-width: 390px) {

    .market-crates-banner {
        background: url('../img/market-crates-banner01.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 27%;
    }
    .signboard-center {
        background: url('../img/signboard-center01.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: -10%;
    }
    input{
        width: 75%;
    }

  
}


 @media screen and (max-width: 993px) and (min-width: 715px){

    .market-crates-banner, .signboard-center {
        background-size: inherit;
    }
    input{
        width: 30%;
    }
 }


 @media screen and (max-width: 715px) and (min-width: 620px){
    .market-crates-banner, .signboard-center {

    background-size: inherit;
}
    input{
        width: 35%;
    }
 }

@media screen and (max-width: 1041px) and (min-width: 980px){
    input {
        width: 91%;
    } 
}

@media screen and (max-width: 620px) and (min-width: 390px){
    .market-crates-banner, .signboard-center {
        background-size: contain;
    }
}